{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-5">
    <div class="p-2">
        <h3>Список сторінок</h3>
        <p>My store project</p>
        <div class="row">
            <div class="col-1">
                {{#each links}}
                <div class="pt-1 pb-1 px-1">
                    <button class="btn btn-primary"><a href="{{href}}" class="nav-link">{{name}}</a></button>
                </div>
                {{/each}}
            </div>
        </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}